<form>
    <h2>{{localize "SHOW_ACTOR_ART.FORM.TITLE"}}</h2>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>{{localize "SHOW_ACTOR_ART.FORM.HEADERS.BUTTON"}}</th>
                <th>{{localize "SHOW_ACTOR_ART.FORM.HEADERS.PLACEMENT_ACTORS"}}</th>
                <th>{{localize "SHOW_ACTOR_ART.FORM.HEADERS.PLACEMENT_ITEMS"}}</th>
                <th>{{localize "SHOW_ACTOR_ART.FORM.HEADERS.PLACEMENT_JOURNAL"}}</th>
                <th>{{localize "SHOW_ACTOR_ART.FORM.HEADERS.VISIBILITY_GM"}}</th>
                <th>{{localize "SHOW_ACTOR_ART.FORM.HEADERS.VISIBILITY_PLAYERS"}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{localize "SHOW_ACTOR_ART.FORM.ROWS.ONLY_YOU"}}</td>
                <td style="text-align: center;">
                    <input type="checkbox" name="onlyYou.placement.actors" {{#if settings.onlyYou.placement.actors}}checked{{/if}} />
                </td>
                <td style="text-align: center;">
                    <input type="checkbox" name="onlyYou.placement.items" {{#if settings.onlyYou.placement.items}}checked{{/if}} />
                </td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;">
                    <input type="checkbox" name="onlyYou.visibility.gm" {{#if settings.onlyYou.visibility.gm}}checked{{/if}} />
                </td>
                <td style="text-align: center;">
                    <input type="checkbox" name="onlyYou.visibility.players" {{#if settings.onlyYou.visibility.players}}checked{{/if}} />
                </td>
            </tr>
            <tr>
                <td>{{localize "SHOW_ACTOR_ART.FORM.ROWS.EVERYONE"}}</td>
                <td style="text-align: center;">
                    <input type="checkbox" name="everyone.placement.actors" {{#if settings.everyone.placement.actors}}checked{{/if}} />
                </td>
                <td style="text-align: center;">
                    <input type="checkbox" name="everyone.placement.items" {{#if settings.everyone.placement.items}}checked{{/if}} />
                </td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;">
                    <input type="checkbox" name="everyone.visibility.gm" {{#if settings.everyone.visibility.gm}}checked{{/if}} />
                </td>
                <td style="text-align: center;">
                    <input type="checkbox" name="everyone.visibility.players" {{#if settings.everyone.visibility.players}}checked{{/if}} />
                </td>
            </tr>
            <tr>
                <td>{{localize "SHOW_ACTOR_ART.FORM.ROWS.OWNERSHIP"}}</td>
                <td style="text-align: center;">
                    <input type="checkbox" name="ownership.placement.actors" {{#if settings.ownership.placement.actors}}checked{{/if}} />
                </td>
                <td style="text-align: center;">
                    <input type="checkbox" name="ownership.placement.items" {{#if settings.ownership.placement.items}}checked{{/if}} />
                </td>
                <td style="text-align: center;">
                    <input type="checkbox" name="ownership.placement.journal" {{#if settings.ownership.placement.journal}}checked{{/if}} />
                </td>
                <td style="text-align: center;"></td>
                <td style="text-align: center;"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit">{{localize "SHOW_ACTOR_ART.FORM.SAVE_BUTTON"}}</button>
</form>
